// Theme Variables
$secondaryColor: #000;

// Light Theme (Original)
$lightBg: #ffffff;
$lightText: #000000;
$lightBgHome: #355d66;
$lightBgSkills: #554ed7;
$lightBgWork: #772626;
$lightBgAbout: #798344;

// Dark Theme
$darkBg: #32384f;
$darkText: #f5f5f5;
$darkBgHome: #355d66;
$darkBgSkills: #554ed7;
$darkBgWork: #772626;
$darkBgAbout: #798344;

// GitHub Theme
$githubBg: #0d1117;
$githubText: #c9d1d9;
$githubBgHome: #21262d;
$githubBgSkills: #238636;
$githubBgWork: #da3633;
$githubBgAbout: #f85149;

// Discord Theme
$discordBg: #36393f;
$discordText: #dcddde;
$discordBgHome: #5865f2;
$discordBgSkills: #57f287;
$discordBgWork: #ed4245;
$discordBgAbout: #faa61a;

// Notion Theme
$notionBg: #191919;
$notionText: #e9e9e7;
$notionBgHome: #2eaadc;
$notionBgSkills: #9065b0;
$notionBgWork: #d44c47;
$notionBgAbout: #448361;

body {
  --lightBg: #{$lightBg};
  --lightText: #{$lightText};
  --darkBg: #{$darkBg};
  --darkText: #{$darkText};
  --githubBg: #{$githubBg};
  --githubText: #{$githubText};
  --discordBg: #{$discordBg};
  --discordText: #{$discordText};
  --notionBg: #{$notionBg};
  --notionText: #{$notionText};
}
