// Theme later
// #root {
//   background-color: rgb(34, 34, 34);
// }

.ui.container.home {
  padding-top: 10%;

  p {
    font-size: 1.33em;
  }

  h1 {
    font-size: 5em;
  }

  .homeDetails {
    margin: 0;
  }
}
