@import '../../utilities/variables.scss';

.skills {
  .ui.tab {
    background: rgba(255, 255, 255, 0.6);
  }
  .ui.message {
    color: $lightBgSkills;
  }

  .lineChart,
  .radarChart {
    width: 100%;
    height: 750px;

    @media only screen and (max-width: 600px) {
      height: 300px;
    }
  }

  .radarChart {
    .recharts-default-legend {
      display: none;
    }

    .recharts-surface > .recharts-layer {
      .recharts-radar,
     .recharts-radar-polygon {
        stroke: $lightBgSkills;
        fill: $lightBgSkills;
      }
    }
  }
}

// Theme-specific skills colors
#root.lightMode .skills {
  .ui.message {
    color: $lightBgSkills;
  }
  .radarChart .recharts-surface > .recharts-layer {
    .recharts-radar, .recharts-radar-polygon {
      stroke: $lightBgSkills;
      fill: $lightBgSkills;
    }
  }
}

#root.darkMode .skills {
  .ui.message {
    color: $darkBgSkills;
  }
  .radarChart .recharts-surface > .recharts-layer {
    .recharts-radar, .recharts-radar-polygon {
      stroke: $darkBgSkills;
      fill: $darkBgSkills;
    }
  }
}

#root.githubMode .skills {
  .ui.message {
    color: $githubBgSkills;
  }
  .radarChart .recharts-surface > .recharts-layer {
    .recharts-radar, .recharts-radar-polygon {
      stroke: $githubBgSkills;
      fill: $githubBgSkills;
    }
  }
}

#root.discordMode .skills {
  .ui.message {
    color: $discordBgSkills;
  }
  .radarChart .recharts-surface > .recharts-layer {
    .recharts-radar, .recharts-radar-polygon {
      stroke: $discordBgSkills;
      fill: $discordBgSkills;
    }
  }
}

#root.notionMode .skills {
  .ui.message {
    color: $notionBgSkills;
  }
  .radarChart .recharts-surface > .recharts-layer {
    .recharts-radar, .recharts-radar-polygon {
      stroke: $notionBgSkills;
      fill: $notionBgSkills;
    }
  }

  &.skillsMobile {
    padding: 15px;
    .divider {
      width: 100%;
      margin: 0;
    }
  }
}
