// @import-normalize;
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#root {
  height: 100vh;
  width: 100vw;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}

.title {
  font-size: 8vw !important;
}

.info {
  font-family: 'TheGirlNextDoor';

  .greeting {
    font-size: 36pt;
  }

  span {
    font-size: 22pt;
  }
}

.staticMountain {
  position: absolute;
  bottom: 0;
  left: 0;
  height: revert;
}

.desktopContainer {
  &.ui.vertical.segment {
    border-bottom: none;
  }

  .logoPNG {
    display: none;
  }
}

.topNavLayout {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 15px;

  grid-template-areas: 'nav' 'content';

  .topNav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;

    .navItem {
      font-size: x-large;
      line-height: 0%;

      a {
        // color: #353535;
        color: whitesmoke;
      }

      .active {
        text-decoration: underline;
      }
    }

    .logo {
      height: max-content;
    }
  }

  .content {
    grid-area: content;
  }
}

.cartoonPicture {
  border-radius: 30px;
  filter: saturate(0.5);
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@font-face {
  font-family: 'TheGirlNextDoor';
  src:
    local('TheGirlNextDoor'),
    url(./fonts/TheGirlNextDoor-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
