// @import-normalize;
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$bgHome: #355d66;
$bgSkills: #8884d8;
$bgWork: #000;
$bgAbout: #798344;

.pointlessBackground,
.pointlessBackground2 {
  position: fixed;
  left: -40%;
  top: 35%;
  width: 200%;
  height: 55%;
  transform: rotate(-15deg);
  background-color: $bgHome;
  opacity: 0.1;
  z-index: -1;
  filter: blur(5px);

  &.skills {
    background-color: $bgSkills;
  }

  &.work {
    background-color: $bgWork;
  }

  &.about {
    background-color: $bgAbout;
  }
}

.pointlessBackground2 {
  top: 48%;
  height: 25%;
  opacity: 0.15;
  filter: blur(40px);
}

#root {
  height: 100vh;
  width: 100vw;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: 'Josefin sans';
  }

  .notFound {
    height: 100vh;
    width: 100vh;

    & > div:first-of-type {
      position: relative;
      top: 25%;
    }
  }
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}

.title {
  font-size: 8vw !important;
}

.info {
  .greeting {
    font-size: 36pt;
  }

  span {
    font-size: 22pt;
  }
}

.staticMountain {
  position: absolute;
  bottom: 0;
  left: 0;
  height: revert;
}

.desktopContainer {
  &.ui.vertical.segment {
    border-bottom: none;
  }

  .logoPNG {
    padding-bottom: 12px !important;

    svg {
      width: 50px;
    }

    .skills {
      #face,
      #face2 {
        fill: $bgSkills;
      }
    }

    .work {
      #face,
      #face2 {
        fill: $bgWork;
      }
    }

    .about {
      #face,
      #face2 {
        fill: $bgAbout;
      }
    }
  }
}

.topNavLayout {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 15px;

  grid-template-areas: 'nav' 'content';

  .topNav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;

    .navItem {
      font-size: x-large;
      line-height: 0%;

      a {
        // color: #353535;
        color: whitesmoke;
      }

      .active {
        text-decoration: underline;
      }
    }

    .logo {
      height: max-content;
    }
  }

  .content {
    grid-area: content;
  }
}

.cartoonPicture {
  border-radius: 30px;
  filter: saturate(0.5);
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@font-face {
  font-family: 'TheGirlNextDoor';
  src:
    local('TheGirlNextDoor'),
    url(./fonts/TheGirlNextDoor-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
